@charset "utf-8";

*{
    outline: 1px solid red;
}
main{
    height: 800px;
}


section{
    width: 100%;
    height: 100%;
    background-color: yellow;
    border: 10px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; /*주축 가로*/
    flex-wrap: nowrap;
    /* flex-flow: row wrap; */
    justify-content: flex-start; 
    /* align-items: stretch; */
    align-content: stretch; /*align-content는 flex wrap일때 씀*/

}

section > article{
    /* width: 100px; */
    height: 100px;
    background-color: aqua;
}

section > article:nth-child(1){
    /*flex-grow: 1;  컨텐트를 제외한 내부 여백에 대한 비율
    flex-shrink: 1;
   flex-basis: 0px; flex-basis:아이템의 기본 폭*/
   flex: 1;
}
section > article:nth-child(2){
    /* flex-shrink: 2;
    flex-grow: 2;  
    flex-basis: 0px;  */
    flex: 2;
    
}
section > article:nth-child(3){
    /* flex-shrink: 3;
    flex-grow: 3;  
    flex-basis: 0px; */
    flex: 3;
   
}

